@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: #d5d5d500;
  }

  ::-webkit-scrollbar-thumb {
    background: #4677ff;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d5d5d57d;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
